<div>
    <div class="mic_container"></div>
</div>
<script>
    var changeRec = function(){
        var mic_container = document.querySelector('[class*="mic_container"]');
        if(mic_container.classList.contains("recoff")){
            mic_container.classList.remove("recoff");
            mic_container.classList.add("recon");
            mic_container.innerHTML = `
            <div>REC</div>
<div><img class="main_mic" src="../assets/media/main_mic_off.svg"></div>
            `
        }
        else{
            mic_container.classList.remove("recon");
            mic_container.classList.add("recoff");
            mic_container.innerHTML = `
            <div>WAITING</div>
<div><img class="main_mic" src="../assets/media/main_mic_on.svg"></div>
            `
        }
    };

    var mic = document.querySelector('[class*="mic_container"]');
    mic.addEventListener("click", changeRec);
    changeRec();
</script>