<div>
    <div class="playlist_container">
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:11</div>
        </div>
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:11</div>
        </div>
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:11</div>
        </div>
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:11</div>
        </div>
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:11</div>
        </div>
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:11</div>
        </div>
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:11</div>
        </div>
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:11</div>
        </div>
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:11</div>
        </div>
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:11</div>
        </div>
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:11</div>
        </div>
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:12</div>
        </div>
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:13</div>
        </div>
        <div class="track">
            <a><img class="pause" src="../assets/media/play.svg"></a>
            <div class="time">0:14</div>
        </div>
        <div id="playlist_footer"></div>
    </div>
</div>